html,
body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    background-color: rgba(248, 244, 241, 255);
    color: rgb(91 57 33);
}

#App {
    width: 100%;
    /* overflow-x: hidden; */
    /* height: 100%; */
    background-color: rgba(248, 244, 241, 255);
    padding-bottom: 4rem;
}

.App {
    bottom: 0;
    width: 100%;
    background-color: rgba(248, 244, 241, 255);
    /* margin-top: 2.4rem; */
    padding-top: 2.4rem;
    height: calc(100% - 8.2rem);
    flex-direction: column;
    /* height: max-content; */
    justify-content: space-between;
}

.Questions {
    display: flex;
    padding-top: 2.4rem;
    height: calc(100% - 8.2rem);
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

}

.toppage {
    width: 100%;

}

.ProductPage {
    background-color: rgba(248, 244, 241, 255);
}

.petselect {
    background-color: rgba(248, 244, 241, 255);

}




/* Responsivo---------------------------------------------- */
@media (max-width:999px) {
    .buttonstop {
        width: 100% !important;
        top: 5.8rem !important;
        right: 0;
        height: 2%;
        align-items: flex-end !important;
        flex-direction: column !important;
        justify-content: normal !important;
    }


    .buttonstop ul {
        background-color: rgba(247, 183, 151, 1);
        margin-top: 0.6rem !important;
        width: 10rem !important;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;

    }

    .SocialMidias {
        align-self: flex-end !important;
        border-radius: 0 0 0 1rem;
        background-color: rgba(247, 183, 151, 1);
        width: 10rem !important;
        padding: 0 auto;
        margin: 0rem !important;
        justify-content: center;
        display: none;

    }

    body {
        overflow-x: hidden;
    }

    .mobile-menu {
        display: block;
        margin-right: 1rem;
        margin-top: 0.6rem;
    }

    #btnlogin:hover ul {

        width: 100%;
        margin: 0 !important;
        padding-left: 0 !important;

    }

    #btnlogin p {
        cursor: pointer;
    }

    .btnTopBar {
        width: 100% !important;
    }

    .sub-banner {
        height: auto !important;
    }

    .subPet-card {
        width: 80% !important;
    }

    .prod-card {
        width: 80% !important;
    }

    .menumob {
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .menumob li {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
    }

    .menumob.active {
        transform: translateX(0%);
        transition: all 0.5s ease-in;
        display: flex;
    }


    .menumob.active li ul li {
        align-self: center;
        padding: 0;
        margin: 0;
        border: 0;
        text-align: center;
    }


    .buttonstop .menumob.active ul {
        transform: translateX(0%);
        transition: 0.5s ease-in;

    }


    .slider {
        height: auto !important;
    }


    .App .Card {
        width: 100%;
        /* height: 14rem; */

    }

    .App .Card .infopets {
        display: flex;

    }


    .Card .infopets a img {
        width: 15rem;
        height: 100%;
    }


    .Card .infopets .infopet ul {
        padding-left: 1rem;
    }

    .Card .infopet {
        padding-left: 0rem;
        padding-right: 0;
    }



    .Card .infoprodutos {
        padding-left: 0rem;
        padding-right: 0;
    }


    .Card .infoprodutos a img {
        width: 15rem;
        height: 100%;
    }


    .Card .infoprodutos .info-Produto ul {
        padding-left: 1rem;
    }



    .Card .btnSubmit {
        align-self: center;
        font-size: 1rem !important;
        padding-inline: 0.8rem;
        padding-block: 0.4rem;
        margin: 0;
        height: min-content !important;

    }

    .Card .infopets .CardAnimal {
        margin: 0 auto !important;
        margin-bottom: 0.4rem;
        height: 15rem;
        justify-content: center;
        width: fit-content;
    }

    .App .Welcome {
        width: 90%;
        margin: 0 auto;
    }

    .App .Welcome p {
        width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .App .Welcome h1 {
        width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .sliderproducts div .Products {
        overflow-x: hidden;
        padding-top: 1rem;
        height: max-content;
        padding-left: 0rem;
        padding-bottom: 1rem;
        justify-content: flex-start;
    }

    .sliderservices div .Services {
        overflow-x: hidden;
        padding-top: 1rem;
        height: max-content;
        padding-left: 0rem;
        padding-bottom: 1rem;
        justify-content: flex-start;
    }

    .pet {
        width: 90% !important;
        display: flex !important;
        flex-direction: column;
    }

    .pet .imgpet img {
        width: 100%;
        height: 25rem !important;
    }

    .Myhistory h2 {
        line-height: normal !important;
    }

    .ProductSelect {
        flex-direction: column !important;
        width: 90%;
        padding-bottom: 2rem;
        gap: 0rem !important;
    }

    .Prod {
        width: 100% !important;
    }

    .Prod img {
        width: 100% !important;
        height: 25rem !important;
    }

    .info-Produto {
        width: 100% !important;
        height: auto !important;
        justify-content: flex-start !important;
    }


    #img {
        width: 100% !important;
    }

    .adoption {
        width: 100% !important;
    }

    #serviceshome a {
        display: flex !important;
    }

    #productshome a {
        display: flex !important;
    }

    .App .Sobre {
        flex-direction: column-reverse;
    }

    .App .Sobre span img {
        width: 90%;
    }

    .App .Sobre .text {
        width: auto !important;
    }


    .Card {
        width: 98%;
        display: inline-block;
        margin-bottom: 0.4rem;
    }

    .CardProduto {
        margin: 0 !important;
    }

    .CardServico {
        margin: 0 !important;
    }


    .Rodape {
        width: 90% !important;
        flex-direction: column !important;
        align-items: center !important;
        margin: 0 auto;
        padding: 0 !important;
        gap: 4rem !important;
    }

    .contactpage {
        width: 100%;
    }

    .question {
        width: 100% !important;
    }


    .sub-card {
        width: 75% !important;
    }

    #Dados {
        width: 80% !important;
    }
    #updatepass {
        width: 80% !important;
    }

    #Dados span label {
        width: 25%;
    }

    #Dados span input {
        width: 75%;
    }
}