* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

.Topbar .buttonstop {
    display: flex;
    position: absolute;
    width: 100%;
    height: 2rem;
    top: 5.8rem;
    background-color: rgb(238, 179, 147);
    flex-direction: row;
    justify-content: space-between;
    padding-block: 0.2rem;
    align-items: flex-start;
    align-content: center;
}

.buttonstop {
    display: flex;
    mask-position: center;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;


}


.buttonstop ul {
    display: flex;
    margin: 0% !important;
    padding-top: 0.2rem;
    /* transition: display 1s; */

}

.buttonstop .btnTopBar ul {
    display: none;
    position: relative;
    align-items: flex-start;
    top: 0rem;
    left: 0rem;

}

.buttonstop .btnTopBar ul li {
    margin: 0rem !important;
    padding: 0.2rem;

    text-align: left;
}

#btnlogin {
    display: flex;
    flex-direction: column;
    width: 5rem;
    padding: 0;
    border-radius: rem !important;
}

#btnlogin a:hover {
    background-color: rgba(247, 183, 151, 1);
    border-radius: 0.4rem;
}

#btnlogin p:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(247, 183, 151, 1);
    border-radius: 0.4rem;
}

.btnTopBar p {
    cursor: pointer;
    color: rgb(92, 83, 94);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


#btnlogin li:hover {
    background-color: rgba(247, 183, 151, 1);
    border-radius: 0.4rem;
}




.buttonstop .btnTopBar:hover>ul {
    display: block;
    background-color: rgb(234, 143, 97);
    padding: 0%;
    margin: 0rem;
    transition: 1s;

}


.buttonstop .btnTopBar ul li:hover {
    display: block;
    background-color: rgb(234, 143, 97);

}


.btnTopBar a {
    color: rgb(92, 83, 94);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.buttonstop a:hover {
    color: white;

}

.buttonstop ul li {

    text-decoration-color: none;
    list-style-type: none;
    margin-left: 0.4rem;
    margin-right: 0.4rem;


}


.btnTopBar {
    display: inline-block;
    background-color: transparent;
    border: 0.09rem solid transparent;
    padding-inline: 0.4rem;
    border-radius: 0.4rem;
}


.btnTopBar:hover {
    background-color: rgb(234, 143, 97);
}

.btnTopBar:hover a {
    color: white;
}

.SocialMidias {
    display: -webkit-inline-flex;
    flex-direction: row;
    align-self: center;
    margin-right: 1rem;
}

.ButtonsMidias:hover {
    background-color: rgb(234, 143, 97);
}

.ButtonsMidias {
    background-color: transparent;
    border: solid transparent;
    border-radius: 1rem;
    display: flex;
    margin: 0%;
    padding: 0%;
    align-items: center;
    align-content: center;

}



.imgsocialmedia {
    width: 1rem;
    height: 1rem;
    align-items: center;
    align-content: center;
}

.midiaslogo {
    width: 1rem;
    height: 1rem;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu div {
    width: 1rem;
    height: 0.2rem;
    background: #fff;
    margin: 0.1rem;
}


