.Rodape {
    padding-top: 4rem !important;
    display: flex;
    /* padding: 0 !important; */
    margin-top: 2rem;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    color: rgb(48, 29, 16);

}

._sub {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;
}

#formhome div {
    display: flex;
    margin-bottom: 0.6rem;
    gap: 0.3rem;
}

#formhome div input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    background-color: transparent;
}

#message {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

#message textarea {
    background-color: transparent;
    resize: none;
}

.Rodape h3 {
    font-size: 2rem;
    color: rgb(48, 29, 16);
}

a {
    color: rgb(48, 29, 16);
}

.contactpage {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    align-items: flex-start;
}

.grp {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.grp div:first-child {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}


.grp div:last-child {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#formsubmit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.separador {
    background-color: rgb(48, 29, 16);
    color: white;
    margin-top: 2rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.separador h3 {
    font-size: 2rem;
}

.Copyright {
    color: rgb(48, 29, 16);
}